/* CSS stylesheet for the header */
.header {
  height: 520px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: #FF7F50;
  background-image: url('https://www.transparenttextures.com/patterns/brick-wall.png');
}

.header-avatar {
  max-width: 250px;
}

.header-avatar img {
  object-fit: cover;
}

.header-username {
  font-size: 1.8em;
  color: #f4f1ec;
}

/* CSS stylesheet for the header when the display width is greater than 1024px */
@media only screen and (min-width: 1024px) {
  .header {
    height: 420px;
    width: 30%;
    margin: 200px 1.5em;
    position: fixed;
  }
}