.header {
  height: 520px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: #FF7F50;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
}

.header-avatar {
  max-width: 250px;
}

.header-avatar img {
  width: 100%;
}

.header-username {
  font-size: 1.8em;
  color: #f4f1ec;
}