.navbar-top {
  height: 120px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 0 1.5em;
  background-color: #4056A1;
  color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-family: 'Bungee', sans-serif;
  margin-top: 1em;
}

.navbar-menu {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-menu:hover {
  cursor: pointer;
}

.navbar-menu i.hovering {
  animation: updown 0.8s ease infinite;
}

.navbar-menu i {
  color: red;
  margin-top: -20px;
}

@keyframes updown {
  from {
    transform: translateY(-4px);
  }
  to {
    transform: translateY(4px);
  }
}