.navbar-top {
  height: 120px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 0 1.5em;
  background-color: #4056A1;
  color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-family: 'Bungee', sans-serif;
  margin-top: 1em;
}

/* .navbar-logo h2 {
  margin-bottom: 0;
} */

.navbar-menu {
  /* margin: 1.5em 1.5em 0; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-menu i {
  color: red;
  margin-top: -20px;
}