.navbar-top {
  height: 120px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 0 1.5em;
  background-color: transparent;
  color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scrolled {
  background-color: #4056A1;
}

.navbar-logo {
  font-family: 'Bungee', sans-serif;
  margin-top: 1em;
}

.navbar-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-menu:hover {
  cursor: pointer;
}

.navbar-menu i.hovering {
  animation: updown 0.8s ease infinite;
}

.navbar-menu i {
  color: red;
  margin-top: -20px;
}

@keyframes updown {
  from {
    transform: translateY(-4px);
  }
  to {
    transform: translateY(4px);
  }
}

@media only screen and (max-width: 450px) {
  .navbar-menu p {
    padding-bottom: 0.5em;
  }
}

@media only screen and (min-width: 1024px) {
  .navbar-top {
    background-color: #4056A1;
  }
}