.container .new-tweet {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2em 0;
}

.new-tweet form {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  margin-top: 2em;
  padding: 0 0.5em;
}

.new-tweet form div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  font-family: 'Bungee', sans-serif;
  margin-top: 1em;
}

.new-tweet form button {
  color: white;
  padding: 5px 12px;
  background-color: #4056A1;
  border: 0;
  font-size: large;
}

.new-tweet form button:hover {
  border:#8ca1e5 2px solid
}


#tweet-text {
  background: transparent;
  resize: none;
  font-size: smaller;
  border: 0;
  border-bottom: #545149 4px solid;
  outline: none;
}

.invalidCount {
  color: red;
}

.error {
  align-items: center;
  width: 100%;
  color: red;
  border: red 4px solid;
  display: none;
}

.error p {
  padding: 0 0.25em;
}

.fa-triangle-exclamation {
  padding: 0 1em;
}