.new-tweet {
  display: none;
}

.tweet-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  margin-top: 1.5em;
  padding: 0 0.5em;
}


.new-tweet form div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  font-family: 'Bungee', sans-serif;
  margin-top: 1em;
}

.new-tweet form button {
  color: white;
  padding: 5px 12px;
  background-color: #4056A1;
  border: 0;
}

.new-tweet form button:hover {
  border:#8ca1e5 2px solid;
  cursor: pointer;
}


#tweet-text {
  background: transparent;
  resize: none;
  border: 0;
  border-bottom: #545149 0.2em solid;
  outline: none;
}

.invalidCount {
  color: red;
}

.error {
  display: none;
  margin-top: 1em;
  width: auto;
  align-items: center;
  color: red;
  border: red 4px solid;
}

.error p {
  padding: 0 1em;
  font-weight: bold;
}

/* CSS stylesheet when the display width is greater than 1024px */
@media only screen and (min-width: 1024px) {
  .tweet-form {
    margin-top: 0;
    padding-top: 3em;
  }
}